<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="interview.system.tenant.mapper.EnterprisesMapper">

    <select id="getlistUserEnterprises" resultType="interview.system.tenant.model.bo.UserEnterprisesBO">
        SELECT
            e.id AS enterprise_id,
            e.name,
            e.short_name,
            e.industry,
            e.status,
            etm.role_id
        FROM enterprises e
        JOIN enterprise_team_members etm ON e.id = etm.enterprise_id
        WHERE etm.user_id = #{userId} AND etm.is_deleted = false AND e.is_deleted = false
    </select>
</mapper>
